In [90]:
import pandas as pd
import quandl
import math
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.linear_model import LinearRegression

In [35]:
df = quandl.get("WIKI/GOOGL")

In [36]:
print(df.head())

              Open    High     Low    Close      Volume  Ex-Dividend  \
Date
2004-08-19  100.01  104.06   95.96  100.335  44659000.0          0.0
2004-08-20  101.01  109.08  100.50  108.310  22834300.0          0.0
2004-08-23  110.76  113.48  109.05  109.400  18256100.0          0.0
2004-08-24  111.24  111.60  103.57  104.870  15247300.0          0.0
2004-08-25  104.76  108.00  103.88  106.000   9188600.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2004-08-19          1.0  50.159839  52.191109  48.128568   50.322842
2004-08-20          1.0  50.661387  54.708881  50.405597   54.322689
2004-08-23          1.0  55.551482  56.915693  54.693835   54.869377
2004-08-24          1.0  55.792225  55.972783  51.945350   52.597363
2004-08-25          1.0  52.542193  54.167209  52.100830   53.164113

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0

In [37]:
df = df[["Adj. Open", "Adj. High", "Adj. Low", "Adj. Close", "Adj. Volume"]]

In [38]:
df

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
2004-08-26    52.637487    54.142132    52.492038    54.122070    7094800.0
2004-08-27    54.217364    54.478169    53.008633    53.239345    6211700.0
2004-08-30    52.802998    52.908323    51.162935    51.162935    5196700.0
2004-08-31    51.318415    52.015567    51.238167    51.343492    4917800.0
2004-09-01    51.509003    51.644421    49.989312    50.280210    9138200.0
2004-09-02    49.698414    51.343492    49.623182    50.912161   15118600.0
2004-09-03    50.631294    51.027517    49.813770    50.159839    5152400.0
2004-09-07    50.661387    51.157920    49.959219    50.947269    5847500.0
2004-09-08    50.525969    51.674514    50.405597    51.308384    4985600.0
2004-09-09    51.408694    51.514019    50.656371    51.313400    4061700.0
2004-09-10    50.892099    53.444980    50.806836    52.828075    8698800.0
2004-09-13    53.480088    54.372844    53.394825    53.916435    7844100.0
2004-09-14    53.886342    56.173402    53.560336    55.917612   10828900.0
2004-09-15    55.451172    57.291854    55.270615    56.173402   10713000.0
2004-09-16    56.343928    58.079285    55.997860    57.161452    9266300.0
2004-09-17    57.387149    58.926902    56.950802    58.926902    9472500.0
2004-09-20    58.656066    60.988265    58.565787    59.864797   10628700.0
2004-09-21    60.286097    60.396438    58.936933    59.102444    7228700.0
2004-09-22    58.906840    60.020277    58.585849    59.373280    7581200.0
2004-09-23    59.603992    61.504860    58.691174    60.597057    8535600.0
2004-09-24    60.672290    62.242136    60.065416    60.100525    9123400.0
2004-09-27    59.965107    60.627150    59.082382    59.313094    7066100.0
2004-09-28    60.762568    63.897245    60.291113    63.626409   16929000.0
2004-09-29    63.460898    67.719042    63.310433    65.742942   30516400.0
2004-09-30    65.150614    66.354831    64.699722    65.000651   13758000.0
...                 ...          ...          ...          ...          ...
2018-02-13  1050.000000  1061.220000  1046.920000  1054.140000    1574121.0
2018-02-14  1054.320000  1075.470000  1049.800000  1072.700000    2029979.0
2018-02-15  1083.450000  1094.100000  1067.230000  1091.360000    1806206.0
2018-02-16  1093.380000  1108.310000  1091.550000  1095.500000    1971928.0
2018-02-20  1092.760000  1116.290000  1090.000000  1103.590000    1646405.0
2018-02-21  1109.100000  1136.200000  1107.510000  1113.750000    2024534.0
2018-02-22  1119.170000  1125.460000  1105.150000  1109.900000    1386115.0
2018-02-23  1118.660000  1129.000000  1108.440000  1128.090000    1234539.0
2018-02-26  1131.860000  1144.200000  1129.340000  1143.700000    1489118.0
2018-02-27  1143.700000  1144.250000  1116.790000  1117.510000    2094863.0
2018-02-28  1122.000000  1127.650000  1103.000000  1103.920000    2431023.0
2018-03-01  1109.540000  1111.270000  1067.290000  1071.410000    2766856.0
2018-03-02  1057.980000  1086.890000  1050.110000  1084.140000    2508145.0
2018-03-05  1078.130000  1101.180000  1072.270000  1094.760000    1432369.0
2018-03-06  1102.100000  1105.630000  1094.500000  1100.900000    1169068.0
2018-03-07  1092.820000  1116.200000  1089.910000  1115.040000    1537429.0
2018-03-08  1117.200000  1131.440000  1117.200000  1129.380000    1510478.0
2018-03-09  1139.500000  1161.000000  1134.290000  1160.840000    2070174.0
2018-03-12  1165.050000  1178.160000  1159.200000  1165.930000    2129297.0
2018-03-13  1171.830000  1178.000000  1134.570000  1139.910000    2129435.0
2018-03-14  1145.800000  1159.760000  1142.350000  1148.890000    2033697.0
2018-03-15  1149.570000  1162.500000  1135.660000  1150.610000    1623868.0
2018-03-16  1155.350000  1156.810000  1131.360000  1134.420000    2654602.0
2018-03-19  1117.760000  1119.370000  1088.920000  1100.070000    3076349.0
2018-03-20  1098.400000  1105.550000  1082.420000  1095.800000    2709310.0
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [39]:
# percent volatility
df["HL_PCT"] = (df["Adj. High"] - df["Adj. Close"]) / df["Adj. Close"] * 100

# percent change
df["PCT_change"] = (df["Adj. Close"] - df["Adj. Open"]) / df["Adj. Open"] * 100

In [51]:
df = df[["Adj. Close", "HL_PCT", "PCT_change", "Adj. Volume"]]

In [52]:
df.head(20)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0
2004-08-26   54.122070  0.037068    2.820391    7094800.0
2004-08-27   53.239345  2.326896   -1.803885    6211700.0
2004-08-30   51.162935  3.411430   -3.106003    5196700.0
2004-08-31   51.343492  1.308977    0.048866    4917800.0
2004-09-01   50.280210  2.713217   -2.385589    9138200.0
2004-09-02   50.912161  0.847207    2.442224   15118600.0
2004-09-03   50.159839  1.729827   -0.931154    5152400.0
2004-09-07   50.947269  0.413467    0.564301    5847500.0
2004-09-08   51.308384  0.713587    1.548541    4985600.0
2004-09-09   51.313400  0.390969   -0.185366    4061700.0
2004-09-10   52.828075  1.167758    3.804080    8698800.0
2004-09-13   53.916435  0.846512    0.815905    7844100.0
2004-09-14   55.917612  0.457440    3.769546   10828900.0
2004-09-15   56.173402  1.991071    1.302460   10713000.0
2004-09-16   57.161452  1.605686    1.450952    9266300.0

In [53]:
forecast_column = "Adj. Close"

In [74]:
# Fill NA/NaN values with -99999 as an outlier
df.fillna(-99999, inplace=True)

# forecasting 1% of the data based on its length
forecast_out = int(math.ceil(0.01 * len(df)))

In [75]:
# add the forecast column to the label colum
df.loc[:, ("label")] = df.loc[:, (forecast_column)]

# shift the Adjusted Close up 10% of the dataframe
df.loc[:, "label"] = df.loc[:, forecast_column].shift(-forecast_out)

In [76]:
df.head(10)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  67.739104
2004-08-20   54.322689  0.710922    7.227007   22834300.0  69.399229
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.752232
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  69.639972
2004-08-25   53.164113  1.886792    1.183658    9188600.0  69.078238
2004-08-26   54.122070  0.037068    2.820391    7094800.0  67.839414
2004-08-27   53.239345  2.326896   -1.803885    6211700.0  68.912727
2004-08-30   51.162935  3.411430   -3.106003    5196700.0  70.668146
2004-08-31   51.343492  1.308977    0.048866    4917800.0  71.219849
2004-09-01   50.280210  2.713217   -2.385589    9138200.0  72.278116

In [77]:
df.dropna(inplace=True)
df.tail(10)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume   label
Date
2016-08-02      800.12  0.274959    0.349918    1996354.0  801.23
2016-08-03      798.92  0.077605    0.307607    1461025.0  797.97
2016-08-04      797.25  0.370022   -0.124023    1076031.0  795.39
2016-08-05      806.93  0.035939    0.852383    1807271.0  799.78
2016-08-08      805.23  0.294326   -0.095533    1221609.0  805.03
2016-08-09      807.48  0.724476    0.371664    1607685.0  815.95
2016-08-10      808.49  0.295489    0.178428     918514.0  814.96
2016-08-11      808.20  0.702673   -0.280084    1282274.0  802.65
2016-08-12      807.05  0.017347    0.243451     897283.0  810.73
2016-08-15      805.96  0.670008   -0.154854     930074.0  810.06

In [89]:
X = np.array(df.drop(["label"], 1))  # features -- everything except for label
y = np.array(df.loc[:, "label"])  # labels

# Standardize a dataset along any axis
# Center to the mean and component wise scale to unit variance.
X = preprocessing.scale(X)
# take the range of X values that aren't NaN after having shifted rows up
df.dropna(inplace=True)
y = np.array(df.loc[:, "label"])

# validate that X and y data are the same length
print(len(X), len(y))

3019 3019

In [91]:
# use 20% of the data as testing data
# must test the model using data that the classifier has not seen during the testing process
# takes data, shuffles data within X and y
# train vars are used to fit the classifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [112]:
# fit the training data using LinearRegression classifier
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train) # train
# Squared Error
accuracy = clf.score(X_test, y_test) # test data

clf.
print(forecast_out, accuracy)

31 0.9601162558034914

In [109]:
# using Epsilon-Support Vector Regression (skm) machine learning classification algorithm.
# Gamma:
# Kernel coefficient for ‘rbf’, ‘poly’ and ‘sigmoid’.
# Current default is ‘auto’ which uses 1 / n_features, if gamma='scale' is passed then it uses 1 / (n_features * X.std()) as value of gamma.
clf = svm.SVR(kernel="sigmoid", gamma="auto")
clf.fit(X_train, y_train)  # train
# Squared Error
accuracy = clf.score(X_test, y_test)  # test data

print(forecast_out, accuracy)

31 0.8508749910553254